{% extends 'base.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}
<div class="container body-content span=8 offset=2">
    <div class="container body-content">
        <!--<div class="row"></div>-->
        <div class="form-horizontal">
            <h4>Personal info</h4>
            <article class="well">
                <div class="form-group">
                    <h4 class="col-sm-2 control-label">Full Name:</h4>
                    <div class="col-sm-6 control-label" style="text-align:left">
                        <h4>{{user.fullName}}</h4>
                    </div>
                </div>

                <div class="form-group">
                    <h4 class="col-sm-2 control-label">Email:</h4>
                    <div class="col-sm-6 control-label" style="text-align:left">
                        <h4>{{user.email}}</h4>
                    </div>
                </div>
            </article>


        </div>
    </div>
</div>



{% endblock %}

